.Water{
    width: 100%;
    text-align: center;
    margin: 1px 1px;
    background: linear-gradient(270deg, #83d4f3, #b1deef);
    background-size: 400% 400%;
    animation: AnimationName 5s ease infinite;

    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    } 
}