$color-white: #e6e6e6;
$color-coffee: rgb(92, 15, 15);
$color-grey: #838383;

.Emptycup {
    // cupbody
    background-color: $color-white;
    box-sizing: border-box;
    height: 200px;
    width: 300px;
    border-radius: 0 0 150px 150px;
    position: relative;
    top: 100px;
    //bottom left shadow
    box-shadow: inset 20px -10px 30px -10px $color-grey;

    &::before, &::after {
        content: '';
        position: absolute;
        display: block;
        
    }
    &::before{
        //cup top
        width: 300px;
        height: 50px;
        border-radius: 50%;
        top: -24px;
        box-shadow: 
        inset 5px 0 0 0 $color-grey,//back left shadow
        inset 0 0 0 5px $color-white,//back border shadow
        inset 10px 10px 0 0 $color-white;//back cup inlet
        z-index: 2; // show front border
    }
    &::after{
        //cup handle
        width: 100px;
        height: 100px;
        border-radius: 0 50% 50% 50%;
        right: -90px;
        top: 0px;
        border: 20px solid $color-white;//handle body
        box-shadow: 
        inset 5px -5px 5px 5px $color-grey;//bottom shadow
        z-index: -1; // hide behind cup body
    }

    .Coffee{//content of cup
        position: absolute;
        width: 300px;
        height: 50px;
        top: -20px;
        border-radius: 50%;
        background-color: $color-coffee;
        z-index: 1;

        &::before, &::after{//for smog
            content: '';
            position: absolute;
            display: block;
            width: 70px;
            height: 10px;
            background: $color-grey;
            border-radius: 100px;
            z-index: 2;
        }
        &::before{
            animation: smog 2s infinite;
        }
        &::after{
            animation: smog2 2s infinite;
        }
        @keyframes smog{
            0%{
                opacity: 0;
                transform: rotateZ(-92deg);
                top: -20px;
                left: 80px;
            }
            25%{
                opacity: 0.3;
                transform: rotateZ(-88deg);
                
                left: 60px;
            }
            50%{
                opacity: 0.2;
                transform: rotateZ(-92deg);
              
                left: 80px;
            }
            75%{
                opacity: 0.1;
                transform: rotateZ(-88deg);
              
                left: 60px;
            }
            100%{
                opacity: 0;
                transform: rotateZ(-90deg);
                top: -100px;
                left: 80px;
            }
        }
        @keyframes smog2{
            0%{
                opacity: 0;
                transform: rotateZ(-92deg);
                top: -20px;
                left: 150px;
            }
            25%{
                opacity: 0.3;
                transform: rotateZ(-88deg);
                
                left: 130px;
            }
            50%{
                opacity: 0.2;
                transform: rotateZ(-92deg);
              
                left: 150px;
            }
            75%{
                opacity: 0.1;
                transform: rotateZ(-88deg);
              
                left: 130px;
            }
            100%{
                opacity: 0;
                transform: rotateZ(-90deg);
                top: -100px;
                left: 150px;
            }
        }
    }
}