.ChocolateSyrup{
    margin: 1px 1px;
    background: linear-gradient(270deg, #b11e1e, #dd8e30, #e86d32);
    background-size: 600% 600%;
    
    animation: AnimationName 5s ease infinite;
    
    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}