$color-white: #e6e6e6;
$color-coffee: rgb(92, 15, 15);
$color-grey: #838383;
$base-size: 200px;

.Emptycup {
    // cupbody
    background-color: $color-white;
    box-sizing: border-box;
    height: $base-size;
    width: $base-size*1.5;
    border-radius: 0 0 $base-size*0.75 $base-size*0.75;
    position: relative;
    top: $base-size*0.1;
    //bottom left shadow
    box-shadow: inset $base-size*0.1 $base-size*-0.05 $base-size*0.15 $base-size*-0.05 $color-grey;
    z-index: 1;
    margin-bottom: 20px;

    &::before, &::after {
        content: '';
        position: absolute;
        display: block;
        
    }
    &::before{
        //cup top
        width: $base-size*1.5;
        height: $base-size*0.25;
        border-radius: 50%;
        top: $base-size*-0.12;
        box-shadow: 
        inset $base-size*0.025 0 0 0 $color-grey,//back left shadow
        inset 0 0 0 $base-size*0.025 $color-white,//back border shadow
        inset $base-size*0.05 $base-size*0.05 0 0 $color-white;//back cup inlet
        z-index: 2; // show front border
    }
    &::after{
        //cup handle
        width: $base-size*0.25;
        height: $base-size*0.5;
        border-radius: 0 50% 50% 80%;
        right: $base-size*-0.2;
        top: 0px;
        border-style: solid ;//handle body
        border-color: $color-white;
        border-width: $base-size*0.1 $base-size*0.1 $base-size*0.05 $base-size*0.025;
        box-shadow: 
        inset $base-size*0.005 0px $base-size*0.025 $base-size*0.01 $color-grey;//bottom shadow
        z-index: 0.1; // hide behind cup body
    }

    .Coffee{//content of cup
        position: absolute;
        width: $base-size*1.5;
        height: $base-size*0.25;
        top: $base-size*-0.1;
        border-radius: 50%;
        z-index: 1;

        &::before, &::after{//for smog
            content: '';
            position: absolute;
            display: block;
            width: $base-size*0.35;
            height: $base-size*0.05;
            background: $color-grey;
            border-radius: $base-size*0.5;
            z-index: 2;
        }
        &::before{
            animation: smog 2s infinite;
        }
        &::after{
            animation: smog2 2s infinite;
        }

        background: linear-gradient(270deg, #4e2a2a, #866d4f, #956224);
        background-size: 600% 600%;
        
        animation: AnimationName 5s ease infinite;
        
        @keyframes AnimationName { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }

        @keyframes smog{
            0%{
                opacity: 0;
                transform: rotateZ(-92deg);
                top: $base-size*-0.1;
                left: $base-size*0.4;
            }
            25%{
                opacity: 0.3;
                transform: rotateZ(-88deg);
                
                left: $base-size*0.3;
            }
            50%{
                opacity: 0.2;
                transform: rotateZ(-92deg);
              
                left: $base-size*0.4;
            }
            75%{
                opacity: 0.1;
                transform: rotateZ(-88deg);
              
                left: $base-size*0.3;
            }
            100%{
                opacity: 0;
                transform: rotateZ(-90deg);
                top: $base-size*-0.5;
                left: $base-size*0.4;
            }
        }
        @keyframes smog2{
            0%{
                opacity: 0;
                transform: rotateZ(-92deg);
                top: $base-size*-0.1;
                left: $base-size*0.75;
            }
            25%{
                opacity: 0.3;
                transform: rotateZ(-88deg);
                
                left: $base-size*0.65;
            }
            50%{
                opacity: 0.2;
                transform: rotateZ(-92deg);
              
                left: $base-size*0.75;
            }
            75%{
                opacity: 0.1;
                transform: rotateZ(-88deg);
              
                left: $base-size*0.65;
            }
            100%{
                opacity: 0;
                transform: rotateZ(-90deg);
                top: $base-size*-0.5;
                left: $base-size*0.75;
            }
        }
    }
}